

img{
	width: 500px;
}

body{	
		background: beige;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
}

.container {	background: beige;
		max-width: 500px
}

.lines {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid black;
}

#letter-A {
	font-size: 170px;
	position: fixed;
	bottom: -15px;
	left: 165px;
}

#letter-B {
	font-size: 170px;
	position: fixed;
	bottom: -20px;
}

#letter-C {
	font-size: 170px;
	position: fixed;
	bottom: -20px;
	right: 165px;


